# Server Configuration
PORT=5000

# Database
MONGODB_URI=mongodb+srv://ecaintern:GvqhEn37dBU7Eh80@cluster0.muqh00a.mongodb.net/ecainternship?retryWrites=true&w=majority



# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRE=7d

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Cloudinary Configuration (for file uploads)
CLOUDINARY_CLOUD_NAME=dnbseho9v
CLOUDINARY_API_KEY=674182636477467
CLOUDINARY_API_SECRET=2ibKLmjGTZyhVbDoR44Y-xM-gA0